.btnAñadir {
    width: 80px;
    height: 35px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    transition: all 0.3s ease-in-out;
    border: 1px solid black;
    color: black
}

.btnAñadir:hover {
    background-color: rgb(255, 68, 68);
    color: white;
    cursor: pointer;
}

.btnAñadirContainer {
    margin: 10px;
}