.btnAñadir {
    width: 80px;
    height: 35px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    transition: all 0.3s ease-in-out;
    border: 1px solid black;
    color: black
}

.btnAñadir:hover {
    background-color: rgb(255, 68, 68);
    color: white;
    cursor: pointer;
}

.btnAñadirContainer {
    margin: 10px;
}

.ratingContainer {
    /* height: 60x; */
    display: flex;
    align-items: end;
    justify-content: center;
}

.valorame {
    font-size: 12px;
    font-weight: bold;
}

#rating {
    width: 10px !important;
    height: 10px;
    font-size: 10px;
}

.rateBtn {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    margin: 10px;
    width: 50px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    background-color: white;
}